In [2]:
import pandas as pd
import plotly
import plotly.graph_objs as go
import plotly.express as px
from plotly.offline import iplot
import ipywidgets as widgets
from ipywidgets import interact, RadioButtons, IntSlider, Layout
import cufflinks as cf
cf.set_config_file(offline=True)
import plotly.io as pio
pio.renderers.default='notebook'

In [3]:
df = pd.read_csv('https://github.com/Lirinawi/Interactive_chart/blob/main/sales_data.csv?raw=true', 
                 encoding='cp1251', names=['all'])
df.sample(5)

                                   all
1031  14.08 - 11611грн (93) 665п 948кг
243                   05.04 - выходной
1008         22.07 - 8911грн (92) 590п
106         20.11 - 4920грн (90) 16:00
98          12.11 - 6710грн (98) 18:20

In [4]:
df.dropna(inplace=True, how='all')
df['year'] = df['all'].str.extract(r'(\d{4})год').fillna(method="ffill")
df['day_month'] = df['all'].str.extract(r'(\d{2}\.\d{2}).+') 
df['date'] = df['day_month']  + '.' + df['year']
df['profit'] = df['all'].str.extract(r'(\d{2,4})\s?грн')
df['cnt_orders'] = df['all'].str.extract(r'\((\d{2})\)')
df['cnt_positions'] = df['all'].str.extract(r'(\d{2,3})п')
df['days_off'] = df['all'].apply(lambda x: 1 if 'выходной' in x else 0)
df.dropna(subset='date', inplace=True)
df_ = df.iloc[:, 3:]
df_[['profit', 'cnt_orders', 'cnt_positions']] = df_[['profit', 'cnt_orders', 'cnt_positions']].astype('Int32')
df_['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df_2 = df_.set_index('date').fillna(0)
df_2.sample(5)

            profit  cnt_orders  cnt_positions  days_off
date
2019-06-13       0           0              0         1
2020-09-05    8511          93            711         0
2020-11-03    1190          96            582         0
2020-01-16       0           0              0         1
2020-05-01    7260          87            478         0

In [5]:
df_report = df_.groupby([df_['date'].dt.year, df_['date'].dt.month]).sum().sort_index()
df_report = df_report.reset_index(level=1).rename(columns={'date': 'month'}).reset_index().rename(
    columns={'date': 'year'})
df_report['year,month'] = df_report['year'].astype('str') + '/' + df_report['month'].astype('str')
df_report_2 = df_report.copy()
df_report_2['year,month'] = pd.to_datetime(df_report_2['year,month'], format='%Y/%m')
df_report_2['year,month'] = df_report_2['year,month'].dt.floor('d')
df_report_2.rename(columns={'year,month':'date'}, inplace=True)
df_report_2.set_index('date', inplace=True)
df_report_2.sample(5)

            year  month  profit  cnt_orders  cnt_positions  days_off
date
2019-06-01  2019      6  174078        2042          10540         6
2019-01-01  2019      1  133317        2054           9752         6
2020-02-01  2020      2  117120        1874           9072         8
2021-04-01  2021      4  150780        2010          11294         8
2019-08-01  2019      8  193471        1950          12516         6

In [6]:
analysis_by=RadioButtons(options=['month', 'days', 'None'], value='None', description='analysis_by')
year=IntSlider(min=df_report_2.year.min(), max=df_report_2.year.max(), step=1, value=2022, description='year')
month=IntSlider(min=1, max=12, step=1, value=7, description='month')
all_months=widgets.Checkbox( value=True, description='all_months')
indicator=widgets.Dropdown(options=list(df_2.select_dtypes('number').columns), value='profit',
                           description='indicator')                   
ui = widgets.HBox(
        [widgets.VBox([year,month]),
        analysis_by,
        widgets.VBox([indicator,all_months])
        ], 
#         layout=Layout(display='flex', flex_flow='row wrap', justify_content='space-between')
    )
def bar_plot(analysis_by,year,month,all_months,indicator):
    if (month not in df_report_2.loc[str(year)].month.to_list()) & (all_months==False):
        return print( 'Sorry, but no data for this month.')
    if all_months:
            df_filter = str(year)
    else:
            df_filter = str(year)+'/'+str(month)
    if analysis_by=='days':
        print('Mean value :', 
            round(df_.set_index('date').loc[df_filter].reset_index().groupby(
            by=df_.set_index('date').loc[df_filter].reset_index()['date'].dt.year).mean()[indicator].iloc[0]))
        return px.bar(df_.set_index('date').fillna(0).loc[df_filter], y=indicator,text=indicator).update_traces(
            texttemplate='%{text:,}').show()
    elif analysis_by=='month':
        print('Mean value :', 
        round(df_report_2.loc[df_filter].groupby(by=df_report_2.loc[df_filter]['year']).mean()[indicator].iloc[0]))
        return px.bar(df_report_2.loc[df_filter], y=indicator,text=indicator).update_traces(
            texttemplate='%{text:,}').show()
out = widgets.interactive_output(bar_plot, {'analysis_by': analysis_by, 'year' : year, 'month': month, 
                                           'all_months': all_months, 'indicator': indicator}) 


display(ui, out)

HBox(children=(VBox(children=(IntSlider(value=2022, description='year', max=2022, min=2018), IntSlider(value=7…

Output()